<div class="container">
    <div class="row">
        <h3 class="ml-auto"><a href="" (click)="logout()">Logout</a></h3>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr *ngIf="isValid">
                    <th>Id</th>
                    <th>Email</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i= index">
                    <td>{{i+1}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" *ngIf="!isValid">
        <h1 class="error">Token has Expired. Login Again</h1>
    </div>
</div>