<app-navbar></app-navbar>



<div class="container">
    <h2 id="title">Register form</h2>

    <form [formGroup]="regForm" (ngSubmit)="register()">

        <div class="form-group">
            <label for="email">Username:</label>
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username" name="username" autocomplete="off">
            <div class="red" *ngIf="regForm.controls['username'].errors?.required && regForm.controls['username'].touched">
                Username is required
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email" name="email" autocomplete="off">
            <div class="red" *ngIf="regForm.controls['email'].errors?.required && regForm.controls['email'].touched">
                Email is required
            </div>
            <div class="red" *ngIf="regForm.controls['email'].errors?.email">
                Email is invalid
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password" name="password">
            <div class="red" *ngIf="regForm.controls['password'].errors?.required && regForm.controls['password'].touched">
                Password is required
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary" [disabled]="this.regForm.invalid">Submit</button>
        </div>
    </form>
</div>